/* MessageInput.css */
/* MessageInput.css */
.message-input {
  display: flex;
  width: 100%; /* Take up the full width of the chat-area */
  /* background-color: #B09F86; */
  padding: 10px;
  /* border-top: 1px solid #ccc; */
  box-sizing: border-box;
}


.message-input input {
  flex: 1;
  padding: 8px;
  border: none;
  background-color: #fcf5ee;
  border-radius: 4px;
}

.message-input button {
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #BF6000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.8s ease;
}

.message-input button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -45%);
  width: 20px;
  height: 20px;
  background-image: url("/public/images/send.png"); /* Path to your send icon image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.8s ease; /* Apply transition to background image */
}

.message-input button:hover {
  background-color: #FF8000;
}

.message-input button:hover::after {
  background-image: url("/public/images/dark_send.png");
}


.send-arrow{
  /* background-image: url("/public/images/send.png");
  height: 2rem;
  width: 2.75rem; */
  border: none;
  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.5s ease;

  &:hover{
    background-image: url("/public/images/dark_send.png");
  }

}
