/* CurrentChat.css */
.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}


.message-screen{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    flex: 0 0 90%;
    overflow-y: auto;
    max-height: 90vh;
}

.send-message{
    display: flex;
    flex: 0 0 5%;
    padding: 1px 0;}

.message {
    display: flex;
    padding: 5px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 90%;
}

.message.user {
    background-color: #BF6000;
    color: #FFFFFF;
    align-self: flex-end;
}

.message.other {
    background-color: #ffbe7d;
    color: #000000;
    align-self: flex-start;
}

.message-list{
    display: flex;
    flex-direction: column;
}