

.recent-chats {
  display: flex;
  flex: 0 0 25%;
  background-color: var(--background-colour);
  flex-direction: column;
  min-height: 0;
  /* padding: 0 0.5rem; */
  box-sizing: border-box;
  overflow-y: hidden;
  user-select: none;
  height: 100vh; /* Set the height to 100% */
  /* border-right: #7496B0 2px solid; */
}

@media screen and (min-width: 1500px) {
  .recent-chats {
    flex: 0 0 20%;
  }
}

@media screen and (min-width: 2000px) {
  .recent-chats {
    flex: 0 0 15%;
  }
}

.search-and-new-chat {
  padding: 4px;
  /* background-color: #e7dac7; */
  /* border-bottom: #937047 1px solid; */
  /* padding-top: 5px; */
  display: flex;
  height: 3rem;
  
  #new-chat{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    gap: auto;
    border: none;
    background-color: var(--user-message-colour);
    color: white;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 200;
    height: 100%;
    padding: auto;
    align-items: center;
    margin-left: auto;
    /* width: 100%; */
    cursor: pointer;
    /* aspect-ratio: 1/1; */

    transition: 0.5s ease;
    &:hover{
      background-color: var(--hover-colour);
    }
  }
}

.RecentChat {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 2.5px;
  gap: auto;
  margin: 4px;
  &:hover{
    background-color: var(--hover-colour);
  }
}

.RecentChat.active{
  background-color: var(--darker-colour);
}

.chat-list{
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--user-message-colour);
  border-radius: 10px;
  margin: 2px;
}

.chat-info {
  flex: 0 0 80%;
  margin-left: 5px;
  margin-right: 5px;
}

.DeleteChat{
  flex: 0 0 20%;
  height: 100%;
  width: 100%;

  cursor: pointer;

  #delete-chat{
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;

  }
}

a{
  text-decoration: none;
  color: black;
}
