.recent-chats {
  display: flex;
  flex: 0 0 25%;
  background-color: #fcf5ee;
  flex-direction: column;
  min-height: 0;
  /* padding: 0 0.5rem; */
  box-sizing: border-box;
  overflow-y: hidden;
  height: 100vh; /* Set the height to 100% */
  /* border-right: #7496B0 2px solid; */
}

@media screen and (min-width: 1500px) {
  .recent-chats {
    flex: 0 0 15%;
  }
}

.search-and-new-chat {
  padding: 4px;
  /* background-color: #e7dac7; */
  /* border-bottom: #937047 1px solid; */
  /* padding-top: 5px; */
  display: flex;
  height: 3rem;
  #new-chat{
    border: none;
    background-color: #FF8000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 200;
    height: 100%;
    width: 100%;
    cursor: pointer;

    transition: 0.5s ease;

    &:hover{
      background-color: #E67300;
    }

  }
}

.RecentChat {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 2.5px;
  margin: 4px;
  /* background-color: #e7dac7 ; */
  /* border: 1px solid #937047; */

  &:hover{
    background-color: #f5eedf;
  }
}

.chat-list{
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #FF8000;
  border-radius: 10px;
  margin: 2px;
}

.chat-info {
  flex: 0 0 80%;
  margin-left: 5px;
  margin-right: 5px;
}




.DeleteChat{
  flex: 0 0 20%;
  height: 100%;
  width: 100%;

  cursor: pointer;

  #delete-chat{
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;

  }
}

a{
  text-decoration: none;
  color: black;
}
