@import "/src/Components/colours.css";

.main-container{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.chat-screen{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 75%;
  border-top-left-radius: 10px;
  background-color: var(--background-colour);
}