:root{
  --hover-colour: #1b549e;
  --hover-chat-colour: #80a4d2;
  --active-chat-colour: #97B7CC;
  --button-colour: #226ed2;
  /* --user-message-colour: #7d5445; */
  --user-message-colour: #226ed2;
  --other-message-colour: #d2d2d2;
  --lighter-colour: #D6EFFF;
  --background-colour: rgb(251, 251, 251);
  --chat-background-colour: #ffffff;
  
}