/* Header.css */

header {
  display: flex;
  color: var(--user-message-colour);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-colour);
  border-bottom: var(--user-message-colour) 2px solid;
  user-select: none;
}

.company-logo {
  max-height: 40px;

  transition: 0.3s ease;

  cursor: pointer;
}

.button-bar{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-bar button{
  background-color: var(--user-message-colour); /* Light gray background for the button */
  color: whitesmoke; /* Dark gray text color for the button */
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.5s ease;
}

.button-bar button:hover {
  background-color: var(--hover-colour); 
  color: #FFFFFF; /* Dark gray text color on hover */
}